name: Slash Command Dispatch

on:
  issue_comment:
    types: [created]

jobs:
  slashCommand:
    name: Dispatch
    runs-on: ubuntu-latest

    steps:
    - uses: xt0rted/pull-request-comment-branch@v1
      id: comment-branch

    - name: Slash Command Dispatch
      uses: peter-evans/slash-command-dispatch@v2
      id: slash-command
      with:
        token: ${{ secrets.PAT_REPO_FULL }}
        commands: |
          lockfiles
        permission: write
        issue-type: pull-request
        dispatch-type: workflow
        static-args: ref=${{ steps.comment-branch.outputs.head_ref }}
